<div id="content">

  <div id="cardPile"> </div>
  <div id="cardSlots"> 

  </div>

	<div id="RetailersInfo"><span style="color:#FBB033;font-size:.8em;padding-bottom:0px;">12&cent; Retailer Commission</span><br><span style="font-size:.8em;">Create income for more than 4000 businesses in our region<span></div>
	<div id="PrizesInfo"><span style="color:#EE3523;font-size:.8em;padding-bottom:0px;">34&cent; Prizes</span><br><span style="font-size:.8em;">Paid out to winners across the region<span></div>
	<div id="TaxesInfo"><span style="color:#724099;font-size:.8em;padding-bottom:0px;">3&cent; Taxes</span><br><span style="font-size:.8em;">Used by governments to provide essential services<span></div>
	<div id="ExpensesInfo"><span style="color:#949599;font-size:.8em;padding-bottom:0px;">12&cent; Operating Expenses</span><br><span style="font-size:.8em;">Generate millions more in spinoff economic activity<span></div>
    <div id="ProvincesInfo"><span style="color:#AFBD22;font-size:.8em;padding-bottom:0px;">35&cent; Profits to Atlantic Provinces</span><br><span style="font-size:.8em;">Our contributions help fund things like roads, schools and hospitals in Atlantic Canada<span></div>
	<div id="SalariesInfo"><span style="color:#40BEB3;font-size:.8em;padding-bottom:0px;">4&cent; Salaries</span><br><span style="font-size:.8em;">Our people live, work and spend their salaries here<span></div>
	
  <div id="successMessage">
    <h2>Well done!</h2>
	<h4>You know where the money goes!</h4>
	<div id="replay"><button onclick="init()">Play Again</button></div>
  </div>

  



</div>