/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


 body { background-color: #fff; color: #666; text-align: center; font-family: arial, sans-serif; }
 div.canvas {
   width: 800px;
   height: 600px;
   background-image: url('WhereTheMoneyGoesBG1.jpg'); 
   background-repeat:no-repeat;
   background-position:center;
   padding: 0 4em;
   margin: 0em auto 0 auto;
   border: 1px solid #FFF;
   border-right-color: #FFF;
   border-bottom-color: #FFF;
 }
 h1 { color: #f00; line-height: 1.5em; }


/* Add some margin to the page and set a default font and colour */

body {
  /*margin: 30px;
  font-family: "Georgia", serif;
  line-height: 1.8em;
  color: #333;*/
}

/* Give headings their own font */

h1, h2, h3, h4 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/* Main content area */

#content {
  /*margin: 80px 70px;*/
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  position:relative;
}

/* Header/footer boxes */

.wideBox {
  clear: both;
  text-align: center;
  margin: 70px;
  padding: 10px;
  background: #ebedf2;
  border: 1px solid #333;
}

.wideBox h1 {
  font-weight: bold;
  margin: 20px;
  color: #666;
  font-size: 1.5em;
}


/* The initial pile of unsorted cards */

#cardPile {
  /*margin: 0 auto;*/
  float:left;
  margin-top:10px;
  /*background: #ffd;*/
  border: 2px dashed #AAA;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  width: 120px;
  height: 450px;
  /*border: 5px solid red;*/
  /*border: 2px solid #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .3em rgba(0, 0, 0, .8);*/
}

/* Individual cards and slots */

#cardPile div {
  float: left;
  width: 80px;
  height: 40px;
  padding:10px;
  border: 2px solid #FFF;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin-left:10px;
  margin-top:10px;
  margin-right:0px;
  margin-bottom:0px;
  background: #01AEF0;
  color: #fff;
  font-size: 20px;
  text-shadow: 0 0 3px #000;
}

#cardPile div.ui-draggable-dragging {
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
}

#cardSlots {
  position:relative;	
  width: 610px;
  height: 520px;
  /*border:5px solid gold;*/
  margin-left:200px;
  margin-top:100px;
  /*border: 2px solid #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  
  background: #ddf;*/
  /*float:right;*/
/*margin: 50px auto 0 auto;
margin-top:0px;*/
}

#cardSlots div {
  /*float: left;*/
  width: 80px;
  height: 40px;
  padding-right: 10px;
  padding-left:10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid #AAA;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: 0 0 0 10px;
  background: #fff;
  border-style: dashed;
}

/*#cardSlots div:first-child, #cardPile div:first-child {
  margin-left: 0;
}*/

#cardSlots div.hovered {
  background: #aaa;
}

#cardSlots #aPrizes {
	position:absolute;
	left:470px;
	top:70px;
}

#cardSlots #aTaxes {
	position:absolute;
	left:330px;
	top:375px;
}

#cardSlots #aRetailers {
	position:absolute;
	left:50px;
	top:280px;
}

#cardSlots #aProvinces {
	position:absolute;
	left:10px;
	top:100px;
}

#cardSlots #aExpenses {
	position:absolute;
	left:450px;
	top:275px;
}

#cardSlots #aSalaries {
	position:absolute;
	left:190px;
	top:380px;
}

#content #PrizesInfo {
	position:absolute;
	left:680px;
	top:140px;
	width:175px;
	height:150px;
	/*border:1px solid black;*/
	text-align:left;
	/*display:none;*/
}

#content #TaxesInfo {
	position:absolute;
	left:540px;
	top:440px;
	width:200px;
	height:50px;
	/*border:1px solid black;*/
	text-align:left;
	/*display:none;*/
}

#content #RetailersInfo {
	position:absolute;
	left:135px;
	top:345px;
	width:220px;
	height:50px;
	/*border:1px solid black;*/
	text-align:left;
	/*display:none;*/
}

#content #ProvincesInfo {
	position:absolute;
	left:135px;
	top:170px;
	width:195px;
	height:100px;
	/*border:1px solid black;*/
	text-align:left;
	/*display:none;*/
}

#content #ExpensesInfo {
	position:absolute;
	left:660px;
	top:345px;
	width:200px;
	height:50px;
	/*border:1px solid black;*/
	text-align:left;
	/*display:none;*/
}

#content #SalariesInfo {
	position:absolute;
	left:350px;
	top:443px;
	width:150px;
	height:50px;
	/*border:1px solid black;*/
	text-align:left;
	/*display:none;*/
}


/* Individually coloured cards */

#Retailers.correct { background: #FBB033; }
#Salaries.correct { background: #40BEB3; }
#Expenses.correct { background: #949599; }
#Prizes.correct { background: #EE3523; }
#Taxes.correct { background: #724099; }
#Provinces.correct { background: #AFBD22; }


/* "You did it!" message */
#successMessage {
  position: absolute;
  left: 580px;
  top: 250px;
  z-index: 100;
  color:#FFF;
  background: #01AEF0;
  border: 2px solid #FFF;
  text-align:center;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
  box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
  padding: 10px;
}

